<div class="top-contact-detail list-group-item clearfix">
<div class="row">
    <div class="col-xs-12">
        <h2>{{ contact.name }}</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 pull-left">
        <img src="{{contact?.imageUrl}}" alt="{{ contact?.name }}" 
        class="img-responsive" 
        style="max-height: 100px;">
    </div>
    <div class="pull-right">
        <div class="row">
            <div class="col-xs-12">
                <a [routerLink]="['edit']" class="btn btn-primary" type="submit">Edit</a>
                <a  (click)= onDelete() class="btn btn-danger" type="submit">Delete</a>
                
            </div>
        </div>
    </div>
</div>
</div>
<div class="email-phone list-group-item clearfix">
<div class="row">
    <p><strong>Email:</strong> {{ contact?.email }}</p>
</div>
<div class="row">
    <p><strong>Phone:</strong> {{ contact?.phone }}</p>
</div>
</div>

